
div.mainsearch {
  padding: 30px 10px 20px 10px;
  vertical-align: top;
  div {
    vertical-align: middle;
  }
  div.w75 {
    width: 75%;
  }
  .col {
    display: inline-block;
  }

  .center {
    text-align: center;
  }
  div.w25 {
    width: 25%;
  }
  input {
    width: 98%;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: $dark-grey;
    height: 40px;
    font-size: 1.2em;
    color: $white;
    font-family: 'Comfortaa', sans-serif;
  }

  button.btn {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1em;
    color: $white;
    height: 40px;
    width: 100%;
    background-color: $dark-grey;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    display: block;
    @extend .clickable;
  }
}
